{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cs.css' %}">
    <link rel="stylesheet" href="{% static 'css/cs1.css' %}">
</head>

<body>
    <center>
        <h1>Indian Cricket Team</h1>
        <h2>Cricket Heros</h2>
        <img src="{% static 'images/msd.jpg' %}" alt="" width="300px" height="300px">
        <img src="{% static 'images/virat.jpg' %}" alt="" width="300px" height="300px">
        <img src="{% static 'images/rohit.jpg' %}" alt="" width="300px" height="300px">
        <img src="{% static 'images/hardik.jpg' %}" alt="" width="300px" height="300px">
    </center>
</body>

</html>